<% if notice %>
	<p id="notice" class="alert alert-danger"><%= notice %></p>
<% end %>

<h2>
	<%= @evaluation.id %>차 평가 
	<% if @evaluation.appliable %>
		<span class="label label-success">New</span>
	<% else %>
		<% if !@evaluation.processed %>
			<span class="label label-warning">평가중</span>
		<% else %>
			<span class="label label-danger">완료</span>
		<% end %>
	<% end %>
</h2>

<br>
<% if @evaluation.appliable %>
	<%= form_tag apply_evaluation_path(@evaluation), :method => 'get', :role => 'apply'  do %>
    <button type="submit" class="btn btn-warning btn-xs">
      평가 신청 하기
		</button>
	<% end %>
<% end %>

<br>
<div class="row" style="background-color: white">
	<div class="col-md-6" style="padding:10px">
		<h3> 평가 완료 항목 </h3>
		<table class="table table-condensed">
  		<thead>
    		<tr>
      		<th colspan="3"></th>
    		</tr>
  		</thead>

	  	<tbody>
  	  	<% Result.where(evaluation_id: @evaluation.id, ratee_id: current_developer.id).each do |result| %>
    	  	<tr style="background-color: antiquewhite">
      	  	<td>
        			<%= Material.find(result.material_id).subject %>,
        		점수: <%= result.value %>
        		</td>
		      </tr>
  		  <% end %>
  		</tbody>
		</table>
	</div>

	<div class="col-md-6" style="padding:10px">
		<h3> 평가자 메뉴 </h3>
		<% if @selected %>
			<table class="table table-condensed">
  			<thead>
    			<tr>
      			<th colspan="3"></th>
    			</tr>
  			</thead>

  			<tbody>
    			<% @jobs.each do |job| %>
      			<tr style="background-color: ghostwhite">
        			<td>
          			<%= job.subject %> <%= link_to '평가하기', new_result_path(:material_id => job.id, :evaluation_id => @evaluation.id) %>
        			</td>
      			</tr>
    			<% end %>
  			</tbody>
			</table>
		<% else %>
			평가자로 선정되지 않았습니다.
		<% end %>
	</div>