<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
<h2>내 정보</h2>
  <div class="row" style="background-color: white">
    <div class="col-md-8">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :cname %><br />
          <text style="border-width:3px; border-style:solid; border-color: skyblue; auto; padding:0px;">
            <%= current_developer.cname %>
          </text>
        </div>

        <div class="field">
          <%= f.label :dname %><br />
          <text style="border-width:3px; border-style:solid; border-color: skyblue; auto; padding:0px;" >
            <%= current_developer.dname %>
          </text>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= form_tag careers_change_company_path(current_developer), :method => 'get', :role => 'change_company'  do %>
        <div>
          나의 회사 수정
          <%= text_field_tag :new_company, params[:new_company] %>
        </div>
        <%= hidden_field_tag :developer_id, current_developer.id %>
        <button type="submit" class="btn btn-warning btn-xs">
          수정하기
        </button>
      <% end %>

      <%= form_tag careers_change_department_path(current_developer), :method => 'get', :role => 'change_department'  do %>
        <div>
          나의 부서 수정
          <%= text_field_tag :new_department, params[:new_department] %>
        </div>
        <%= hidden_field_tag :developer_id, current_developer.id %>
        <button type="submit" class="btn btn-warning btn-xs">
          수정하기
        </button>
      <% end %>
      <br>
      <h3> 통계 </h3>
      <div>
        <p>평가한 자료 수: <%= Result.where(rater_id: current_developer.id).count %> </p>
        <p>평가 평점: <% if (cnt = Result.where(rater_id: current_developer.id).count) > 0 %><%= Result.where(rater_id: current_developer.id).sum(:value)/cnt %> <% else %>0.0<% end %> </p>
        <p> 올린 자료의 수: <%= current_developer.materials.count %></p>
        <p> 나의 평점: <%= current_developer.get_avg %></p>
      </div>

    </div>
  </div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
