<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :cname %><br />
    <%= f.text_field :cname %>
  </div>

  <div class="field">
    <%= f.label :dname %><br />
    <%= f.text_field :dname %>
  </div>

  <div class="form-group">
    <label for="user_field">
      <p>전문분야</p>
    </label>

    <div>
      <div class="radio">
        <label style="padding-right: 20px">
          <input type="radio" name="user[field]" id="user_field" value="web" checked>
          web
        </label>
          
        <label style="padding-right: 20px">
          <input type="radio" name="user[field]" id="user_field" value="ios">
          ios
        </label>

        <label style="padding-right: 20px">
          <input type="radio" name="user[field]" id="user_field" value="android">
          android
        </label>

        <label style="padding-right: 20px">
          <input type="radio" name="user[field]" id="user_field" value="windows">
          windows
        </label>

        <label>
          <input type="radio" name="user[field]" id="user_field" value="embeded">
          embeded
        </label>
      </div>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "가입하기" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
