<body>
<h1>등록된 자료 목록</h1>

<div class="row" style="background-color: white;">
  <%= form_tag admin_materials_path, :method => 'get' do %>
      <div class="col-md-2">
        <select class="form-control" id="field" name="field" onChange="myFunction(this.options[this.selectedIndex].value)" >
          <option value="0"> web </option>
          <option value="1"> ios </option>
          <option value="2"> android </option>
          <option value="3"> windows </option>
          <option value="4"> embeded </option>
        </select>
      </div>
      <div class="col-md-10">
        <button type="submit" class="btn btn-info pull-left">
          검색
        </button>
      </div>
  <% end %>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th colspan="3">
        내용
      </th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr style="background-color: ghostwhite">
        <td><%= material.field %></td>
        <td><%= material.subject %></td>
        <td><%= material.developer.name %></td>
        <td><%= link_to 'Show', admin_material_path(:id => material.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
