<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <h2>
    <%= @material.subject %>
  </h2>
</div>

<div>
  <h4>
    <%= @material.field %>
  </h4>
  <p>
    <%= @material.created_at.strftime("%H:%M / %d %b. %Y") %>
  </p>
</div>

<pre>
  <text>
    <%= @material.content %>
  </text>
</pre>
<br>
<%= '---------------------------------------------' %>
<br>

  <div class="actions">
    <%= f.label '평가 점수' %><br>
    <%= f.number_field :value %>
  </div>
  <div class="invisible">
    <%= f.number_field :ratee_id, :value => @material.developer_id %>
    <%= f.number_field :rater_id, :value => current_developer.id %>
    <%= f.number_field :evaluation_id, :value => params[:evaluation_id] %>
    <%= f.number_field :material_id, :value => @material.id %>

  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
