<p id="notice"><%= notice %></p>
<h2> 평가결과 </h2>
<div>
  <h4>
    <%= @material.subject %>
  </h4>
</div>

<div>
  <h4>
    피평가자 아이디: <%= @result.ratee_id %>
  </h4>
</div>

<div>
  <h4>
    <%= @material.field %>
  </h4>
  <p>
    <%= @material.created_at.strftime("%H:%M / %d %b. %Y") %>
  </p>
</div>

<pre>
  <text>
    <%= @material.content %>
  </text>
</pre>
<h4> 평가 당시 피평가자의 회사: <%= @result.ratee_cname %> </h4>
<br>
<%= '---------------------------------------------' %>
<br>

<div>
  <h2>
    평가된 점수: <%= @result.value %>
  </h2>
</div>